.App {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .restaurant-section {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .restaurant-name {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .foods-container {
    display: flex;
    justify-content: space-around;
  }
  
  .foods-section {
    width: 45%;
    padding: 10px;
    border-radius: 8px;
  }
  
  .green-section {
    background-color: #e0f7e9;
  }
  
  .red-section {
    background-color: #f8d7da;
  }
  
  h3 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }

  .scrape-button {
    background-color: #f0f0f0;
    color: #333;
    padding: 6px 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .scrape-button:hover {
    background-color: #e0e0e0;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  }

  